---
// const stats = [
//   { id: 1, name: "Licenciés", value: "220" },
//   { id: 2, name: "Equipes", value: "14" },
//   { id: 3, name: "d'équipes féminines", value: "40%" },
//   { id: 4, name: "Coachs", value: "9" },
// ];

import { getCollection } from "astro:content";

const stats = await getCollection("stats");
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2
          class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
          Nos Performances
        </h2>
        <p class="mt-4 text-lg/8 text-gray-600">
          Découvrez les statistiques du club !
        </p>
      </div>
      {stats}
      <dl
        class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        {
          stats.map((stat: any) => (
            <div class="flex flex-col bg-yellow-400/5 p-8">
              <dt class="text-sm/6 font-semibold text-gray-600">
                {stat.data.name}
              </dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">
                {stat.data.value}
                {stat.data.sigle}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
